body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#hamburger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
}

#hamburger-menu span {
    display: block;
    max-width: 800px;
    height: 3px;
    background-color: white;
}

#sidebar-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
}

#sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex: 1 1 100%;
}

#sidebar-menu li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

#sidebar-menu a {
    color: white;
    text-decoration: none;
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

h1 {
    text-align: left;
    flex: 1 1 100%;
}

h2 {
    text-align: center;
}

figure {
    margin: 10px;
}

figure img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

figcaption {
    text-align: center;
    padding: 5px;
}

footer {
    background-color: #8441ac;
    padding: 1rem;
    margin: 0;
    color: #f7f0f5;
    text-align: center;
}